@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: "Poppins", sans-serif;

  --color-green-50: #effdf5;
  --color-green-100: #d9fbe8;
  --color-green-200: #b3f5d1;
  --color-green-300: #75edae;
  --color-green-400: #00dc82;
  --color-green-500: #00c16a;
  --color-green-600: #00a155;
  --color-green-700: #007f45;
  --color-green-800: #016538;
  --color-green-900: #0a5331;
  --color-green-950: #052e16;

  --color-blue-charcoal-50: #f3f8fc;
  --color-blue-charcoal-100: #e6f0f8;
  --color-blue-charcoal-200: #c8e1ef;
  --color-blue-charcoal-300: #98c8e1;
  --color-blue-charcoal-400: #60abd0;
  --color-blue-charcoal-500: #3c90bb;
  --color-blue-charcoal-600: #2b749e;
  --color-blue-charcoal-700: #245c80;
  --color-blue-charcoal-800: #214f6b;
  --color-blue-charcoal-900: #214359;
  --color-blue-charcoal-950: #0c1821;

  --color-new-blue-50: oklch(29.92% 0.04593 244.09);
  --color-new-blue-100: oklch(29.079% 0.04268 242.22);
  --color-new-blue-200: oklch(26.753% 0.03831 242.47);
  --color-new-blue-300: oklch(24.727% 0.03448 241.42);
  --color-new-blue-400: oklch(22.369% 0.02907 243.28);
  --color-new-blue-500: oklch(20.247% 0.02495 241.92);
}

.gradient-background {
  background: #c6fca6;
  background: linear-gradient(
    44deg,
    rgba(198, 252, 166, 1) 0%,
    rgba(167, 252, 238, 1) 100%
  );
}

.text-gradient {
  background: -webkit-linear-gradient(
    44deg,
    rgba(198, 252, 166, 1) 0%,
    rgba(167, 252, 238, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  background-color: var(--color-blue-charcoal-950);
  color: white;
}

html {
  scroll-behavior: smooth;
}

.pulse {
  animation: pulse-animation 1s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px #69be5e70;
  }
  100% {
    box-shadow: 0 0 0 8px #69be5e00;
  }
}
